importFrom(reshape, merge_recurse)
importFrom(plyr, ldply, laply)

export(RR, plot_missings, long2matrix, matrix2long, getEffects, RR.style, plot.RRuni, plot.RRbi, plot.RRmulti, RR.summary, parCor, selfCor)

S3method(print, uni)
S3method(print, RR)
S3method(print, RRuni)
S3method(print, RRmulti)
S3method(print, RRbi)

S3method(plot, RRbi)
S3method(plot, RRuni)
S3method(plot, RRmulti)